<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <a href="/me/stored/courses">Quay lại danh sách khoá học</a>
        <h3>Khoá học đã xoá</h3>
    </div>

    <div class="mt-4 d-flex align-items-center">
    
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
        </div>
    
        <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
            <option value="">-- Chọn hành động --</option>
            <option value="restored">Khôi phục</option>
            <option value="destroy">Xoá vĩnh viễn</option>
        </select>
    
        <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Thực hiện</button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center text-muted py-5">Thùng rác trống</td>
                    <a href="/me/stored/courses">Danh sách khoá học.</a>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- DELETE hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>

    document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var containerForm = document.forms['container-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    // $('tên class'): đây là jquery để lấy ra các nút có tên class trong đó
    var restoreBtn = $('.btn-restore');
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]');
    var checkallSubmitBtn = $('.check-all-submit-btn');

    // Khi mà xác nhận thông báo
    $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        courseId = button.data('id')
    })

    // Xoá khi ấn vào click
    btnDeleteCourse.onclick = function (event) {
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        deleteForm.submit();
    }

    // Restore btn clicked
    restoreBtn.click(function (event) {
        event.preventDefault();

        //$(this): trả lại jquery của chính nút bấm vào ở đây lấy data-id
        var courseId = $(this).data('id');

        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        restoreForm.submit();
    })

    // Sử dụng Jquery nó đơn giản hơn việc không cần thêm on vào trước mỗi sự kiện
    // Check all changed
    checkboxAll.change(function() {
        // $(this).prop('checked'): Lấy ra giá trị true khi click còn fasle khi không click. prop: là property
        var isCheckedAll = $(this).prop('checked');
        //set true false dựa vào nút isCheckedAll | courseItemCheckbox.prop('checked', true or false)
        courseItemCheckbox.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    })

    // Course item check changed
    courseItemCheckbox.change(function () {
        // So sánh số lượng đã check với số lượng ô check
        // tra ve true or false
        var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll)
        renderCheckAllSubmitBtn();
    })

    // Check all submit button clicked
    // Đây ta submit mặc định theo hành động submit vào trong nó kiểm tra đủ điều kiện để submit mặc định hay không
    checkallSubmitBtn.on('submit', function(e) {
        // $(this): ở đây là nút chính nó checkallSubmitBtn
        // hasClass: kiểm tra có class đó hay không
        var isSubmittable = !$(this).hasClass('disabled')
        if(!isSubmittable) {
            e.preventDefault();
        }
    })

    // Re-render check all submit button
    // Thực hiện nếu có ô nào check sẽ sáng nút thực hiện
    function renderCheckAllSubmitBtn() {
        var checkedCount = $('input[name="courseIds[]"]:checked').length;
        if (checkedCount > 0) {
            checkallSubmitBtn.removeClass('disabled')
        } else {
            checkallSubmitBtn.addClass('disabled')
        }
    }

    })

</script>